/* Add this CSS to your main CSS file or create a new CSS file and import it */

/* General styles */
.container {
  margin-top: 20px;
}

div {
  margin-bottom: 5px;
}

label {
  padding-left: 10px;
}

input[type='checkbox'] {
  margin-left: 10px;
}

/* Sidebar styles */
.sidebar {
  width: 0px;
  transition: width 0.9s;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.main-content {
  transition: margin-left 0.9s, width 0.9s;  
}

.sidebar.open ~ .main-content {
  margin-left: 200px; /* Adjust the margin when the sidebar is open */
  margin-right: 200px;
}


.sidebar.open {
  width: 200px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f0f0f0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;

}

.sidebar-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.sidebar-links a:hover {
  background-color: #dddddd;
}

/* Menu Icon styles */
.menu-icon {
  cursor: pointer;
  padding: 10px;
}

.bar {
  height: 2.5px;
  width: 40px;
  margin: 5px;
  background-color: #000;
  transition: transform 0.9s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.sidebar-links img {
  width: 40px; /* Set the desired width for the icons */
  height: 40px; /* Set the desired height for the icons */
  margin-right: 3px;
}
.sidebar-links img.icon {
  width: 40px;
  height: 40px;
}
